# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.ilk
*.pdb

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a

# VCPKG
vcpkg*

# VCPKG
Examples*

# Build
build*
webbuild*

# Executables
*.exe
*.out
*.app

# Config
*.xml