<?xml version="1.0" encoding="utf-8"?>
<settings><filename>config.xml</filename><fullscreen>true</fullscreen><sound>false</sound><highscores><highscore>4510</highscore><highscore>2200</highscore><highscore>1650</highscore><highscore>990</highscore><highscore>880</highscore></highscores><playerdata><0><playerId>0</playerId><currentLevel>1</currentLevel><health>150</health><playerName>JAFFA</playerName><lastSaved>04/27/23 14:20:29</lastSaved></0></playerdata></settings>