<?xml version="1.0" encoding="utf-8"?>
<settings><filename>config.xml</filename><fullscreen>false</fullscreen><sound>false</sound><highscores><highscore>5150</highscore><highscore>4880</highscore><highscore>4510</highscore><highscore>4100</highscore><highscore>3000</highscore></highscores><playerdata><0><playerId>0</playerId><currentLevel>1</currentLevel><health>150</health><playerName>MARTIN</playerName><lastSaved>04/27/23 14:20:29</lastSaved></0><1><playerId>1</playerId><currentLevel>1</currentLevel><health>150</health><playerName>FREDRI</playerName><lastSaved>04/28/23 10:43:20</lastSaved></1><2><playerId>2</playerId><currentLevel>1</currentLevel><health>150</health><playerName>BJRN</playerName><lastSaved>04/28/23 10:47:36</lastSaved></2><3><playerId>3</playerId><currentLevel>1</currentLevel><health>150</health><playerName>ffff</playerName><lastSaved>05/06/23 11:47:48</lastSaved></3></playerdata></settings>