<?xml version="1.0" encoding="utf-8"?>
<settings><filename>config.xml</filename><fullscreen>true</fullscreen><sound>false</sound><highscores><highscore>3630</highscore><highscore>3190</highscore><highscore>2640</highscore><highscore>1760</highscore><highscore>1650</highscore></highscores></settings>